include pyphysx_envs/robot_data/panda_description/*
include pyphysx_envs/robot_data/panda_description/meshes/collision/*
include pyphysx_envs/robot_data/panda_description/meshes/visual/*
include pyphysx_envs/robot_data/ur_description/*
include pyphysx_envs/robot_data/ur_description/meshes/collision/*
include pyphysx_envs/robot_data/ur_description/meshes/visual/*
include pyphysx_envs/robot_data/talos_desription/*
include pyphysx_envs/robot_data/talos_desription/meshes/arm/*
include pyphysx_envs/robot_data/talos_desription/meshes/torso/*
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/*
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/arm/*
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/gripper/*
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/head/*
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/sensors/orbbec/orbbec.STL
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/torso/*
include pyphysx_envs/robot_data/talos_desription/talos_data/meshes/v2/*
include pyphysx_envs/robot_data/talos_desription/talos_data/robots/*
include pyphysx_envs/robot_data/talos_desription/talos_data/srdf/*