include pyphysx_envs/robot_data/panda_description/*
include pyphysx_envs/robot_data/panda_description/meshes/collision/*
include pyphysx_envs/robot_data/panda_description/meshes/visual/*
include pyphysx_envs/robot_data/ur_description/*
include pyphysx_envs/robot_data/ur_description/meshes/collision/*
include pyphysx_envs/robot_data/ur_description/meshes/visual/*
include pyphysx_envs/robot_data/talos_desription/*
include pyphysx_envs/robot_data/talos_desription/meshes/arm/*
include pyphysx_envs/robot_data/talos_desription/meshes/torso/*